<option value="UK English Male" data-lang="en"
        data-gspeak="en-AU" data-google = "no">
  English (Australia)
</option>
<option value="Armenian Male" data-lang="hy"
        data-gspeak="hy-AM" data-google = "no">
  Armenian (Armenia)
</option>
<option value="Arabic Male" data-lang="ar"
        data-gspeak="ar-IL" data-google = "no">
  Arabic (Israel)
</option>
<option value="US English Female" data-lang="en"
        data-gspeak="en-US" data-google = "no">
  English (United States)
</option>
<option value="Australian Female" data-lang="en"
        data-gspeak="en-US" data-google = "no">
  English (United States)
</option>


<option value="Brazilian Portuguese Female" data-lang="pt"
        data-gspeak="pt-BR" data-google = "no">
  Portuguese (Brazil)
</option>Chinese Female
<option value="Chinese (Hong Kong) Female" data-lang="zh-CN"
        data-gspeak="cmn-Hans-HK" data-google = "no">
  Chinese (Simplified)
</option>
<option value="Chinese Taiwan Female" data-lang="zh-TW"
        data-gspeak="cmn-Hant-TW" data-google = "no">
  Chinese (Traditional)
</option>


<option value="Czech Female" data-lang="cs"
        data-gspeak="cs-CZ" data-google = "no">
  Czech (Czech Republic)
</option>


<option value="Deutsch Female" data-lang="de"
        data-gspeak="de-DE" data-google = "no">
  German (Germany)
</option>
<option value="French Female" data-lang="fr"
        data-gspeak="fr-CA" data-google = "no">
  French (France)
</option>
<option value="Hindi Female" data-lang="hi"
        data-gspeak="hi-IN" data-google = "no">
  Hindi (India)
</option>
<option value="Italian Female" data-lang="it"
        data-gspeak="it-IT" data-google = "no">
  Italian (Italy)
</option>
<option value="Japanese Female" data-lang="ja"
        data-gspeak="ja-JP" data-google = "no">
  Japanese (Japan)
</option>
<option value="Korean Female" data-lang="ko"
        data-gspeak="ko-KR" data-google = "no">
  Korean (South Korea)
</option>
<option value="Polish Female" data-lang="pl"
        data-gspeak="pl-PL" data-google = "no">
  Polish (Poland)
</option>
<option value="Portuguese Female" data-lang="pt"
        data-gspeak="pt-PT" data-google = "no">
  Portuguese (Portugal)
</option>
<option value="Romanian Male" data-lang="ro"
        data-gspeak="ro-RO" data-google = "no">
  Romanian (Romania)
</option>
<option value="Russian Female" data-lang="ru"
        data-gspeak="ru-RU" data-google = "no">
  Russian (Russia)
</option>
<option value="Slovak Female" data-lang="sk"
        data-gspeak="sk-SK" data-google = "no">
  Slovak (Slovakia)
</option>
<option value="Spanish Female" data-lang="es"
        data-gspeak="es-AR" data-google = "no">
  Spanish (Argentina)
</option>


<option value="Spanish Latin American Female" data-lang="es"
        data-gspeak="es-AR" data-google = "no">
  Spanish (Argentina)
</option>

<option value="Swedish Female" data-lang="sv"
        data-gspeak="sv-SE" data-google = "no">
  Swedish (Sweden)
</option>
<option value="Tamil Male" data-lang="ta"
        data-gspeak="ta-IN" data-google = "no">
  Tamil (India)
</option>
<option value="Thai Female" data-lang="th"
        data-gspeak="th-TH" data-google = "no">
  Thai (Thailand)
</option>
<option value="Turkish Female" data-lang="tr"
        data-gspeak="tr-TR" data-google = "no">
  Turkish (Turkey)
</option>


<option value="Afrikaans Male" data-lang="af"
        data-gspeak="af-ZA" data-google = "no">
  Afrikaans (South Africa)
</option>

<option value="Catalan Male" data-lang="ca"
        data-gspeak="ca-ES" data-google = "no">
  Catalan (Spain)
</option>
<option value="Croatian Male" data-lang="hr"
        data-gspeak="hr-HR" data-google = "no">
  Croatian (Croatia)
</option>
<option value="Danish Female" data-lang="da"
        data-gspeak="da-DK" data-google = "no">
  Danish (Denmark)
</option>
<option value="Finnish Female" data-lang="fi"
        data-gspeak="fi-FI" data-google = "no">
  Finnish (Finland)
</option>
<option value="Greek Female" data-lang="el"
        data-gspeak="el-GR" data-google = "no">
  Greek (Greece)
</option>
<option value="Hungarian Female" data-lang="hu"
        data-gspeak="hu-HU" data-google = "no">
  Hungarian (Hungary)
</option>
<option value="Icelandic Male" data-lang="is"
        data-gspeak="is-IS" data-google = "no">
  Icelandic (Iceland)
</option>
<option value="Latvian Male" data-lang="lv"
        data-gspeak="lv-LV" data-google = "no">
  Latvian (Latvia)
</option>



<option value="Norwegian Female" data-lang="no"
        data-gspeak="nb-NO" data-google = "no">
  Norwegian Bokmål (Norway)
</option>
<option value="Serbian Male" data-lang="sr"
        data-gspeak="sr-RS" data-google = "no">
  Serbian (Serbia)
</option>
<option value="Swahili Male" data-lang="sw"
        data-gspeak="sw-TZ" data-google = "no">
  Swahili (Tanzania)
</option>
<option value="Vietnamese Male" data-lang="vi"
        data-gspeak="vi-VN" data-google = "no">
  Vietnamese (Vietnam)
</option>
<option value="Welsh Male" data-lang="cy"
        data-gspeak="vi-VN" data-google = "no">
  Welsh
</option>
