<select data-lang="hello world" id="voiceselection"
 data-gspeak="" data-google = "yes">
  <option value="Armenian (Armenia)" data-lang="hy"
 data-gspeak="hy-AM" data-google = "yes">
    Armenian (Armenia)
  </option>
  <option value="Arabic (Israel)" data-lang="ar"
 data-gspeak="ar-IL" data-google = "yes">
    Arabic (Israel)
  </option>
  <option value="Arabic (Israel)" data-lang="ar"
 data-gspeak="ar-IL" data-google = "yes">
    Arabic (Israel)
  </option>
  <option value="Arabic (Jordan)" data-lang="ar"
 data-gspeak="ar-JO" data-google = "yes">
    Arabic (Jordan)
  </option>
  <option value="Arabic (United Arab Emirates)" data-lang="ar"
 data-gspeak="ar-AE" data-google = "yes">
    Arabic (United Arab Emirates)
  </option>

<option value="Arabic (Bahrain)" data-lang="ar"
 data-gspeak="ar-BH" data-google = "yes">
    Arabic (Bahrain)
  </option>
<option value="Arabic (Algeria)" data-lang="ar"
 data-gspeak="ar-AE" data-google = "yes">
    Arabic (Algeria)
  </option>
<option value="Arabic (United Arab Emirates)" data-lang="ar"
 data-gspeak="ar-DZ" data-google = "yes">
    Arabic (United Arab Emirates)
  </option>
<option value="Arabic (Saudi Arabia)" data-lang="ar"
 data-gspeak="ar-SA" data-google = "yes">
    Arabic (Saudi Arabia)
  </option>
<option value="Arabic (Iraq)" data-lang="ar"
 data-gspeak="ar-IQ" data-google = "yes">
    Arabic (Iraq)
  </option>
<option value="Arabic (Kuwait)" data-lang="ar"
 data-gspeak="ar-KW" data-google = "yes">
    Arabic (Kuwait)
  </option>
<option value="Arabic (Morocco)" data-lang="ar"
 data-gspeak="ar-MA" data-google = "yes">
    Arabic (Morocco)
  </option>
<option value="Arabic (Tunisia)" data-lang="ar"
 data-gspeak="ar-TN" data-google = "yes">
    Arabic (Tunisia)
  </option>
<option value="Arabic (Oman)" data-lang="ar"
 data-gspeak="ar-OM" data-google = "yes">
    Arabic (Oman)
  </option>
<option value="Arabic (State of Palestine)" data-lang="ar"
 data-gspeak="ar-PS" data-google = "yes">
    Arabic (State of Palestine)
  </option>
<option value="Arabic (United Arab Emirates)" data-lang="ar"
 data-gspeak="ar-AE" data-google = "yes">
    Arabic (United Arab Emirates)
  </option>
<option value="Arabic (Qatar)" data-lang="ar"
 data-gspeak="ar-QA" data-google = "yes">
    Arabic (Qatar)
  </option>
<option value="Arabic (Lebanon)" data-lang="ar"
 data-gspeak="ar-LB" data-google = "yes">
    Arabic (Lebanon)
  </option>
<option value="Arabic (Egypt)" data-lang="ar"
 data-gspeak="ar-EG" data-google = "yes">
    Arabic (Egypt)
  </option>

  <option value="English (Australia)" data-lang="en"
 data-gspeak="en-AU" data-google = "yes">
    English (Australia)
  </option>
  <option value="English (Canada)" data-lang="en"
 data-gspeak="en-CA" data-google = "yes">
    English (Canada)
  </option>
  <option value="English (Ghana)" data-lang="en"
 data-gspeak="en-GH" data-google = "yes">
    English (Ghana)
  </option>
  <option value="English (United Kingdom)" data-lang="en"
 data-gspeak="en-GB" data-google = "yes">
    English (United Kingdom)
  </option>
  <option value="English (India)" data-lang="en"
 data-gspeak="en-IN" data-google = "yes">
    English (India)
  </option>
  <option value="English (Ireland)" data-lang="en"
 data-gspeak="en-IE" data-google = "yes">
    English (Ireland)
  </option>
  <option value="English (Kenya)" data-lang="en"
 data-gspeak="en-KE" data-google = "yes">
    English (Kenya)
  </option>
  <option value="English (New Zealand)" data-lang="en"
 data-gspeak="en-NZ" data-google = "yes">
    English (New Zealand)
  </option>
  <option value="English (Nigeria)" data-lang="en"
 data-gspeak="en-NG" data-google = "yes">
    English (Nigeria)
  </option>
  <option value="English (Philippines)" data-lang="en"
 data-gspeak="en-PH" data-google = "yes">
    English (Philippines)
  </option>
  <option value="English (South Africa)" data-lang="en"
 data-gspeak="en-ZA" data-google = "yes">
    English (South Africa)
  </option>
  <option value="English (Tanzania)" data-lang="en"
 data-gspeak="en-TZ" data-google = "yes">
    English (Tanzania)
  </option>
  <option value="English (United States)" data-lang="en"
 data-gspeak="en-US" data-google = "yes">
    English (United States)
  </option>

  <option value="Portuguese (Brazil)" data-lang="pt"
 data-gspeak="pt-BR" data-google = "yes">
    Portuguese (Brazil)
  </option>
  <option value="Chinese, Mandarin (Simplified, Hong Kong)" data-lang="zh-CN"
 data-gspeak="cmn-Hans-HK" data-google = "yes">
    Chinese, Mandarin (Simplified, Hong Kong)
  </option>
  <option value="Chinese, Mandarin (Traditional, Taiwan)" data-lang="zh-TW"
 data-gspeak="cmn-Hant-TW" data-google = "yes">
    Chinese, Mandarin (Traditional, Taiwan)
  </option>


  <option value="Chinese, Mandarin (Traditional, Taiwan)" data-lang="zh-TW"
 data-gspeak="cmn-Hant-TW" data-google = "yes">
    Chinese, Mandarin (Traditional, Taiwan)
  </option>
  <option value="Czech (Czech Republic)" data-lang="cs"
 data-gspeak="cs-CZ" data-google = "yes">
    Czech (Czech Republic)
  </option>


  <option value="Czech (Czech Republic)" data-lang="cs"
 data-gspeak="cs-CZ" data-google = "yes">
    Czech (Czech Republic)
  </option>
  <option value="German (Germany)" data-lang="de"
 data-gspeak="de-DE" data-google = "yes">
    German (Germany)
  </option>
  <option value="French (Canada)" data-lang="fr"
 data-gspeak="fr-CA" data-google = "yes">
    French (Canada)
  </option>
  <option value="Hindi (India)" data-lang="hi"
 data-gspeak="hi-IN" data-google = "yes">
    Hindi (India)
  </option>
  <option value="Hindi (India)" data-lang="hi"
 data-gspeak="hi-IN" data-google = "yes">
    Hindi (India)
  </option>
  <option value="Indonesian (Indonesia)" data-lang="id"
 data-gspeak="id-ID" data-google = "yes">
    Indonesian (Indonesia)
  </option>
  <option value="Italian (Italy)" data-lang="it"
 data-gspeak="it-IT" data-google = "yes">
    Italian (Italy)
  </option>
  <option value="Japanese (Japan)" data-lang="ja"
 data-gspeak="ja-JP" data-google = "yes">
    Japanese (Japan)
  </option>
  <option value="Korean (South Korea)" data-lang="ko"
 data-gspeak="ko-KR" data-google = "yes">
    Korean (South Korea)
  </option>
  <option value="Polish (Poland)" data-lang="pl"
 data-gspeak="pl-PL" data-google = "yes">
    Polish (Poland)
  </option>
  <option value="Portuguese (Portugal)" data-lang="pt"
 data-gspeak="pt-PT" data-google = "yes">
    Portuguese (Portugal)
  </option>
  <option value="Romanian (Romania)" data-lang="ro"
 data-gspeak="ro-RO" data-google = "yes">
    Romanian (Romania)
  </option>
  <option value="Russian (Russia)" data-lang="ru"
 data-gspeak="ru-RU" data-google = "yes">
    Russian (Russia)
  </option>
  <option value="Slovak (Slovakia)" data-lang="sk"
 data-gspeak="sk-SK" data-google = "yes">
    Slovak (Slovakia)
  </option>
  <option value="Spanish (Argentina)" data-lang="es"
 data-gspeak="es-AR" data-google = "yes">
    Spanish (Argentina)
  </option>
  <option value="Spanish (Argentina)" data-lang="es"
 data-gspeak="es-AR" data-google = "yes">
    Spanish (Argentina)
  </option>
  <option value="Spanish (Argentina)" data-lang="es"
 data-gspeak="es-AR" data-google = "yes">
    Spanish (Argentina)
  </option>


  <option value="Spanish (Argentina)" data-lang="es"
 data-gspeak="es-AR" data-google = "yes">
    Spanish (Argentina)
  </option>
  <option value="Spanish (Bolivia)" data-lang="es"
 data-gspeak="es-BO" data-google = "yes">
    Spanish (Bolivia)
  </option>
  <option value="Spanish (Chile)" data-lang="es"
 data-gspeak="es-CL" data-google = "yes">
    Spanish (Chile)
  </option>
  <option value="Spanish (Colombia)" data-lang="es"
 data-gspeak="es-CO" data-google = "yes">
    Spanish (Colombia)
  </option>
  <option value="Spanish (Costa Rica)" data-lang="es"
 data-gspeak="es-CR" data-google = "yes">
    Spanish (Costa Rica)
  </option>
  <option value="Spanish (Ecuador)" data-lang="es"
 data-gspeak="es-EC" data-google = "yes">
    Spanish (Ecuador)
  </option>
  <option value="Spanish (El Salvador)" data-lang="es"
 data-gspeak="es-SV" data-google = "yes">
    Spanish (El Salvador)
  </option>
  <option value="Spanish (Spain)" data-lang="es"
 data-gspeak="es-ES" data-google = "yes">
    Spanish (Spain)
  </option>
  <option value="Spanish (United States)" data-lang="es"
 data-gspeak="es-US" data-google = "yes">
    Spanish (United States)
  </option>
  <option value="Spanish (Guatemala)" data-lang="es"
 data-gspeak="es-GT" data-google = "yes">
    Spanish (Guatemala)
  </option>
  <option value="Spanish (Honduras)" data-lang="es"
 data-gspeak="es-HN" data-google = "yes">
    Spanish (Honduras)
  </option>
  <option value="Spanish (Mexico)" data-lang="es"
 data-gspeak="es-MX" data-google = "yes">
    Spanish (Mexico)
  </option>
  <option value="Spanish (Nicaragua)" data-lang="es"
 data-gspeak="es-NI" data-google = "yes">
    Spanish (Nicaragua)
  </option>
  <option value="Spanish (Panama)" data-lang="es"
 data-gspeak="es-PA" data-google = "yes">
    Spanish (Panama)
  </option>
  <option value="Spanish (Paraguay)" data-lang="es"
 data-gspeak="es-PY" data-google = "yes">
    Spanish (Paraguay)
  </option>
  <option value="Spanish (Peru)" data-lang="es"
 data-gspeak="es-PE" data-google = "yes">
    Spanish (Peru)
  </option>
  <option value="Spanish (Puerto Rico)" data-lang="es"
 data-gspeak="es-PR" data-google = "yes">
    Spanish (Puerto Rico)
  </option>
  <option value="Spanish (Dominican Republic)" data-lang="es"
 data-gspeak="es-DO" data-google = "yes">
    Spanish (Dominican Republic)
  </option>
  <option value="Spanish (Uruguay)" data-lang="es"
 data-gspeak="es-UY" data-google = "yes">
    Spanish (Uruguay)
  </option>
  <option value="Spanish (Venezuela)" data-lang="es"
 data-gspeak="es-VE" data-google = "yes">
    Spanish (Venezuela)
  </option>

  <option value="Swedish (Sweden)" data-lang="sv"
 data-gspeak="sv-SE" data-google = "yes">
    Swedish (Sweden)
  </option>
  <option value="Swedish (Sweden)" data-lang="sv"
 data-gspeak="sv-SE" data-google = "yes">
    Swedish (Sweden)
  </option>
  <option value="Swedish (Sweden)" data-lang="sv"
 data-gspeak="sv-SE" data-google = "yes">
    Swedish (Sweden)
  </option>

  <option value="Swedish (Sweden)" data-lang="sv"
 data-gspeak="sv-SE" data-google = "yes">
    Swedish (Sweden)
  </option>
  <option value="Tamil (India)" data-lang="ta"
 data-gspeak="ta-IN" data-google = "yes">
    Tamil (India)
  </option>
  <option value="Tamil (Singapore)" data-lang="ta"
 data-gspeak="ta-SG" data-google = "yes">
    Tamil (Singapore)
  </option>
  <option value="Tamil (Sri Lanka)" data-lang="ta"
 data-gspeak="ta-LK" data-google = "yes">
    Tamil (Sri Lanka)
  </option>
  <option value="Tamil (Malaysia)" data-lang="ta"
 data-gspeak="ta-MY" data-google = "yes">
    Tamil (Malaysia)
  </option>
  <option value="Thai (Thailand)" data-lang="th"
 data-gspeak="th-TH" data-google = "yes">
    Thai (Thailand)
  </option>

  <option value="Thai (Thailand)" data-lang="th"
 data-gspeak="th-TH" data-google = "yes">
    Thai (Thailand)
  </option>
  <option value="Turkish (Turkey)" data-lang="tr"
 data-gspeak="tr-TR" data-google = "yes">
    Turkish (Turkey)
  </option>


  <option value="Afrikaans (South Africa)" data-lang="af"
 data-gspeak="af-ZA" data-google = "yes">
    Afrikaans (South Africa)
  </option>
  <option value="Afrikaans (South Africa)" data-lang="af"
 data-gspeak="af-ZA" data-google = "yes">
    Afrikaans (South Africa)
  </option>

  <option value="Afrikaans (South Africa)" data-lang="af"
 data-gspeak="af-ZA" data-google = "yes">
    Afrikaans (South Africa)
  </option>

  <option value="Catalan (Spain)" data-lang="ca"
 data-gspeak="ca-ES" data-google = "yes">
    Catalan (Spain)
  </option>

  <option value="Catalan (Spain)" data-lang="ca"
 data-gspeak="ca-ES" data-google = "yes">
    Catalan (Spain)
  </option>
  <option value="Croatian (Croatia)" data-lang="hr"
 data-gspeak="hr-HR" data-google = "yes">
    Croatian (Croatia)
  </option>
  <option value="Danish (Denmark)" data-lang="da"
 data-gspeak="da-DK" data-google = "yes">
    Danish (Denmark)
  </option>
  <option value="Finnish (Finland)" data-lang="fi"
 data-gspeak="fi-FI" data-google = "yes">
    Finnish (Finland)
  </option>
  <option value="Greek (Greece)" data-lang="el"
 data-gspeak="el-GR" data-google = "yes">
    Greek (Greece)
  </option>
  <option value="Hungarian (Hungary)" data-lang="hu"
 data-gspeak="hu-HU" data-google = "yes">
    Hungarian (Hungary)
  </option>
  <option value="Hungarian (Hungary)" data-lang="hu"
 data-gspeak="hu-HU" data-google = "yes">
    Hungarian (Hungary)
  </option>
  <option value="Icelandic (Iceland)" data-lang="is"
 data-gspeak="is-IS" data-google = "yes">
    Icelandic (Iceland)
  </option>
  <option value="Latvian (Latvia)" data-lang="lv"
 data-gspeak="lv-LV" data-google = "yes">
    Latvian (Latvia)
  </option>
  <option value="Latvian (Latvia)" data-lang="lv"
 data-gspeak="lv-LV" data-google = "yes">
    Latvian (Latvia)
  </option>
  <option value="Latvian (Latvia)" data-lang="lv"
 data-gspeak="lv-LV" data-google = "yes">
    Latvian (Latvia)
  </option>



  <option value="Norwegian Bokmål (Norway)" data-lang="no"
 data-gspeak="nb-NO" data-google = "yes">
    Norwegian Bokmål (Norway)
  </option>
  <option value="Serbian (Serbia)" data-lang="sr"
 data-gspeak="sr-RS" data-google = "yes">
    Serbian (Serbia)
  </option>
  <option value="Swahili (Tanzania)" data-lang="sw"
 data-gspeak="sw-TZ" data-google = "yes">
    Swahili (Tanzania)
  </option>

  <option value="Swahili (Tanzania)" data-lang="sw"
 data-gspeak="sw-TZ" data-google = "yes">
    Swahili (Tanzania)
  </option>

  <option value="Swahili (Tanzania)" data-lang="sw"
 data-gspeak="sw-TZ" data-google = "yes">
    Swahili (Tanzania)
  </option>

  <option value="Swahili (Tanzania)" data-lang="sw"
 data-gspeak="sw-TZ" data-google = "yes">
    Swahili (Tanzania)
  </option>
  <option value="Vietnamese (Vietnam)" data-lang="vi"
 data-gspeak="vi-VN" data-google = "yes">
    Vietnamese (Vietnam)
  </option>

  <option value="Vietnamese (Vietnam)" data-lang="vi"
 data-gspeak="vi-VN" data-google = "yes">
    Vietnamese (Vietnam)
  </option>

</select>
<script>

</script>
