/* Empty. Add your own CSS if you like */
#slider {
  margin: 13px;
  height:4vh;
  background: #2A2927;
}
#slider .ui-slider-handle {
  background: #FCCF0D;
  height: 4vh;
  width: 4vh;
  padding-left: 5px; //add this
}
#buttonbar * {

  width: 13%;
  height: 100%;
}
#toolbarViewerSound, #buttonbar{
  position: fixed;
  top:7vh;
}
#myFile {
  width:100%;
}
#page_info{
  font-size: 5vw;
}


#page_info{
  color: white;
}
ion-content {
  margin:0;
  background-color: #FFF;
}

.icon-bar{
  width: 100%;
  background-color: #2A2927;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  color: #FCCF0D;
}

.active {
  background-color: #4CAF50 !important;
}
#page_info{
  position: fixed;
  color: cyan;
  top:12vh;
  left:0;
  width:100%;
  z-index: 10;
  outline: 9999px solid rgba(0,0,0,0.0);
}
.modal34 {
  position: fixed;
  bottom:10vh;
  width:100%;
  z-index: 10;
  outline: 9999px solid rgba(0,0,0,0.0);
}
#zoom{
  position: absolute;
  top:10vh;
  height:30vh;
  right: 0vh;
  width:50px;
  margin-bottom: 30%;

  z-index: 10;
  outline: 9999px solid rgba(0,0,0,0.0);
  background-color: #2A2927;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width:100%;
  height:100%;
  background-color: #2A2927;
  color:#FFF;
  vertical-align: middle;

  font-size: 5vh;
  font-family: "Courier-new";
  text-align: center;
}
/*
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
  pointer-events: none;
}
.zoom {
  position: fixed;
  bottom: 45px;
  right: 24px;
  height: 70px;
}
.zoom-fab *{
  font-size: 5vh;
  display: inline-table;
  vertical-align: middle;
  /*transform: translateY(2.5vh);*/
}
#zoomBtn *{
  font-size: 5vh;
  display: inline-table;
  vertical-align: middle;
  /* transform: translateY(0.5vh);*/
}
.zoom-fab{
  display: inline-block;
  width: 10vh;
  height: 10vh;

  line-height: 40px;
  border-radius: 50%;
  background-color: #009688;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #FFF;
}

.zoom-fab:hover {
  background-color: #4db6ac;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.zoom-btn-large {
  width: 10vh;
  height: 10vh;
  line-height: 60px;
}

.zoom-menu {
  position: absolute;
  right: 70px;
  left: auto;
  top: 50%;
  transform: translateY(-60vh);
  height: 100%;
  width: 100%;
  /*width: 500px;*/
  list-style: none;
  text-align: right;
}

.zoom-menu li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}

.zoom-card {
  position: absolute;
  right: 150px;
  bottom: 70px;
  transition: box-shadow 0.25s;
  padding: 24px;
  border-radius: 2px;
  background-color: #009688;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #FFF;
}

.zoom-card ul {
  -webkit-padding-start: 0;
  list-style: none;
  text-align: left;
}.zoom-btn-person { background-color: #000; }

.zoom-btn-person:hover { background-color: #e57373; }

.zoom-btn-doc { background-color: #000; }

.zoom-btn-doc:hover { background-color: #fff176; }

.zoom-btn-tangram, .zoom-btn-chat{ background-color: #4CAF50; }

.zoom-btn-tangram:hover, .zoom-btn-chat:hover  { background-color: #81c784; }

.zoom-btn-report { background-color: #2196F3; }

.zoom-btn-report:hover { background-color: #64b5f6; }

.zoom-btn-feedback { background-color: #9c27b0; }

.zoom-btn-feedback:hover { background-color: #ba68c8; }
.scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }

.scale-transition.scale-out {
  transform: scale(0);
  transition: transform 0.2s !important;
}
.scale-transition.scale-in { transform: scale(1); }
/**
 * Popups
 * --------------------------------------------------
 */
.popup-container .popup {
  width: 99vw;
}
.form-style-5{
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
  border: none;
}
.form-style-5 legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.form-style-5 label {
  display: block;
  margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color:#8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;

}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
  background: #d2d9dd;
}
.form-style-5 select{
  -webkit-appearance: menulist-button;
  height:35px;
}
.form-style-5 .number {
  background: #1abc9c;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  margin: 0 auto;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
  background: #109177;
}

.btn-primary.openFile{
  color: #000;
  background-color: #f00;
  border-color: #f00;
  height:7vh;width:30vw;
  vertical-align: middle;
}
